{% extends "investment_tool/base.html" %}
{% load crispy_forms_tags %}
{% load extras %}
{% block content %}
<div class="content-section">
<div class="media-body">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" href="{% url 'investment-view' investment.id %}">Info</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Wdrożenie projektu</a></li>
            <li class="nav-item"><a class="nav-link active" href="#">Koszty operacyjne</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'investment-benefits-view' investment.id %}">Korzyści</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Podsumowanie</a></li>
        </ul>
    </div>
    <br>
    <div class="media-body">

        <div class="article-metadata">
            <h5> Nazwa projektu: <b>{{ investment.name }}</b></h5>
        </div>
        <p class="article-title">
        <table class="table">
            <thead>
            <th>Opis</th>
            <th>Data</th>
            <th>Kwota</th>

            </thead>
            <tbody>
            {% for cost in costs %}
            <tr>
                <td>{{ cost.description }}</td>
                <td>{{ cost.date|format_date }}</td>
                <td>{{ cost.amount }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td><b>SUMA:</b></td>
                <td></td>
                <td><b>{{ total }}</b></td>
            </tr>
            </tbody>
        </table>
        </p>
    </div>
</div>
{% if form %}
<div class="content-section">
    <form method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <label class="border-bottom mb-4">Dodaj koszty</label>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-info btn-main" type="submit">Wyślij</button>
        </div>
    </form>
</div>
{% endif %}
{% endblock %}
