{% extends "investment_tool/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="content-section">
    <div class="media-body">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" href="{% url 'investment-view' investment.id %}">Info</a></li>
            <li class="nav-item"><a class="nav-link"
                                    href="{% url 'investment-implementation-costs-view' investment.id %}">Wdrożenie
                projektu</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'investment-operating-costs-view' investment.id %}">Koszty
                operacyjne</a></li>
            <li class="nav-item"><a class="nav-link"
                                    href="{% url 'investment-benefits-view' investment.id %}">Korzyści</a></li>
            <li class="nav-item"><a class="nav-link active" href="#">Podsumowanie</a></li>
        </ul>
    </div>
    <br>
    <div class="media-body">

        <div class="article-metadata">
            <h5> Nazwa projektu: <b>{{ investment.name }}</b></h5>
        </div>
        <p class="article-title">
        <p class="mr-2"><b>Stworzona przez:</b> {{ investment.created_by.first_name }} {{ investment.created_by.last_name            }}</p>
        <p class="article-content"><b>Opis:</b> {{ investment.description }}</p>
        </p>
    </div>
</div>

{% endblock %}
